# Web usage mining

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('./data/data.csv')
df

,Unnamed: 0,host,time,method,url,response,bytes
0,0,***.novo.dk,805465029,GET,/ksc.html,200,7067
1,1,***.novo.dk,805465031,GET,/images/ksclogo-medium.gif,200,5866
2,2,***.novo.dk,805465051,GET,/images/MOSAIC-logosmall.gif,200,363
3,3,***.novo.dk,805465053,GET,/images/USA-logosmall.gif,200,234
4,4,***.novo.dk,805465054,GET,/images/NASA-logosmall.gif,200,786
...,...,...,...,...,...,...,...
2965556,2965556,zzzzzzzz.mindspring.com,809560373,GET,/shuttle/missions/sts-69/mission-sts-69.html,200,13380
2965557,2965557,zzzzzzzz.mindspring.com,809560375,GET,/shuttle/missions/sts-69/sts-69-patch-small.gif,200,8083
2965558,2965558,zzzzzzzz.mindspring.com,809560391,GET,/images/KSC-logosmall.gif,200,1204
2965559,2965559,zzzzzzzz.mindspring.com,809560391,GET,/images/launch-logo.gif,200,1713
2965560,2965560,zzzzzzzz.mindspring.com,809560392,GET,/history/apollo/images/apollo-logo1.gif,200,1173

## filter status = 200 dan url = .html

In [3]:
# Filter data dengan status 200 dan Request URI mengandung .html
df_filtered = df[(df['response'] == 200) & (df['url'].str.contains('.html', na=False))]

print(f"Total data sebelum filter: {len(df)}")
print(f"Total data setelah filter: {len(df_filtered)}")
print("\nData yang telah difilter:")
df_filtered

Total data sebelum filter: 2965561
Total data setelah filter: 610984

Data yang telah difilter:

,Unnamed: 0,host,time,method,url,response,bytes
0,0,***.novo.dk,805465029,GET,/ksc.html,200,7067
6,6,***.novo.dk,805465068,GET,/shuttle/missions/missions.html,200,8678
12,12,***.novo.dk,805465381,GET,/shuttle/resources/orbiters/columbia.html,200,6922
13,13,***.novo.dk,807951768,GET,/shuttle/missions/sts-69/mission-sts-69.html,200,11264
23,23,***.novo.dk,807951938,GET,/shuttle/countdown/liftoff.html,200,4665
...,...,...,...,...,...,...,...
2965543,2965543,zzz.pe.u-tokyo.ac.jp,805633446,GET,/shuttle/technology/sts-newsref/sts-lcc.html,200,32252
2965546,2965546,zzz.pe.u-tokyo.ac.jp,805633480,GET,/shuttle/missions/sts-70/movies/movies.html,200,1395
2965551,2965551,zzz.pe.u-tokyo.ac.jp,805634091,GET,/shuttle/missions/sts-70/images/images.html,200,4048
2965553,2965553,zzz.pe.u-tokyo.ac.jp,805634266,GET,/shuttle/resources/orbiters/discovery.html,200,6861
2965556,2965556,zzzzzzzz.mindspring.com,809560373,GET,/shuttle/missions/sts-69/mission-sts-69.html,200,13380

In [4]:
# Buat copy dari dataframe yang difilter untuk menghindari warning
df_filtered = df_filtered.copy()

# Buat ID user berdasarkan kombinasi Remote host dan Request Protocol
# Kombinasi yang sama akan mendapatkan ID yang sama
df_filtered['user_id'] = df_filtered.groupby(['host']).ngroup() + 1

print(f"Total unique user ID: {df_filtered['user_id'].nunique()}")
print("\nContoh data dengan user_id:")
print(df_filtered[['host', 'user_id', 'url', 'time']].head(10))
print("\n--- Verifikasi: User yang sama memiliki ID yang sama ---")
print(df_filtered[df_filtered['host'] == '65.55.147.227'][['host', 'user_id']].head())

Total unique user ID: 113577

Contoh data dengan user_id:
                       host  user_id  \
0               ***.novo.dk        1
6               ***.novo.dk        1
12              ***.novo.dk        1
13              ***.novo.dk        1
23              ***.novo.dk        1
26              ***.novo.dk        1
29  001.msy4.communique.net        2
41           007.thegap.com        3
44           007.thegap.com        3
46           007.thegap.com        3

                                             url       time
0                                      /ksc.html  805465029
6                /shuttle/missions/missions.html  805465068
12     /shuttle/resources/orbiters/columbia.html  805465381
13  /shuttle/missions/sts-69/mission-sts-69.html  807951768
23               /shuttle/countdown/liftoff.html  807951938
26                /shuttle/countdown/lps/fr.html  807952060
29                    /software/winvn/winvn.html  809765747
41  /shuttle/missions/sts-71/mission-sts-71.html  805065868
44  /shuttle/missions/sts-71/mission-sts-71.html  805066115
46   /shuttle/missions/sts-71/images/images.html  805066664

--- Verifikasi: User yang sama memiliki ID yang sama ---
Empty DataFrame
Columns: [host, user_id]
Index: []

In [5]:
# Hitung jumlah Request URI yang unik
unique_uri_count = df_filtered['url'].nunique()
print(f"Jumlah Request URI unik: {unique_uri_count}")

# Tampilkan beberapa Request URI unik
print("\nContoh Request URI unik:")
print(df_filtered['url'].unique()[:20])

# Tampilkan top 10 Request URI yang paling sering diakses
print("\nTop 10 Request URI yang paling sering diakses:")
print(df_filtered['url'].value_counts().head(10))

Jumlah Request URI unik: 112

Contoh Request URI unik:
['/ksc.html' '/shuttle/missions/missions.html'
 '/shuttle/resources/orbiters/columbia.html'
 '/shuttle/missions/sts-69/mission-sts-69.html'
 '/shuttle/countdown/liftoff.html' '/shuttle/countdown/lps/fr.html'
 '/software/winvn/winvn.html'
 '/shuttle/missions/sts-71/mission-sts-71.html'
 '/shuttle/missions/sts-71/images/images.html'
 '/shuttle/countdown/tour.html'
 '/shuttle/missions/sts-71/movies/movies.html' '/history/history.html'
 '/shuttle/countdown/countdown.html' '/shuttle/countdown/count.html'
 '/facilities/lcc.html' '/facilities/tour.html' '/facts/faq04.html'
 '/shuttle/missions/sts-65/mission-sts-65.html'
 '/shuttle/missions/sts-68/ksc-srl-image.html'
 '/shuttle/missions/sts-64/mission-sts-64.html']

Top 10 Request URI yang paling sering diakses:
url
/ksc.html                                       80002
/shuttle/missions/missions.html                 43974
/shuttle/missions/sts-69/mission-sts-69.html    29949
/shuttle/countdown/liftoff.html                 25088
/history/apollo/apollo.html                     21750
/history/history.html                           20651
/shuttle/missions/sts-70/mission-sts-70.html    19482
/history/apollo/apollo-13/apollo-13.html        19311
/shuttle/missions/sts-71/mission-sts-71.html    19205
/shuttle/missions/sts-71/images/images.html     17834
Name: count, dtype: int64

In [ ]:
# Sort data berdasarkan user_id dan waktu
df_sorted = df_filtered.sort_values(['user_id', 'time']).reset_index(drop=True)

# Konversi kolom time dari Unix timestamp ke datetime (tanpa timezone)
df_sorted['time'] = pd.to_datetime(df_sorted['time'], unit='s')

# Hitung durasi waktu di setiap halaman (selisih waktu antar request)
df_sorted['duration'] = df_sorted.groupby('user_id')['time'].diff().dt.total_seconds()

# Jika duration adalah NaN (request pertama) atau negatif, set ke 0
# Jika terlalu besar (> 1 jam = 3600 detik), set ke 0 (kemungkinan session baru)
df_sorted['duration'] = df_sorted['duration'].fillna(0)
df_sorted['duration'] = df_sorted['duration'].apply(lambda x: x if 0 < x < 3600 else 0)

print("Data dengan durasi:")
print(df_sorted[['user_id', 'url', 'time', 'duration']].head(20))

Data dengan durasi:
    user_id                                           url  \
0         1                                     /ksc.html
1         1               /shuttle/missions/missions.html
2         1     /shuttle/resources/orbiters/columbia.html
3         1  /shuttle/missions/sts-69/mission-sts-69.html
4         1               /shuttle/countdown/liftoff.html
5         1                /shuttle/countdown/lps/fr.html
6         2                    /software/winvn/winvn.html
7         3  /shuttle/missions/sts-71/mission-sts-71.html
8         3  /shuttle/missions/sts-71/mission-sts-71.html
9         3   /shuttle/missions/sts-71/images/images.html
10        3                  /shuttle/countdown/tour.html
11        4   /shuttle/missions/sts-71/movies/movies.html
12        4                         /history/history.html
13        4               /shuttle/missions/missions.html
14        4  /shuttle/missions/sts-71/mission-sts-71.html
15        4                                     /ksc.html
16        4             /shuttle/countdown/countdown.html
17        4                 /shuttle/countdown/count.html
18        4               /shuttle/countdown/liftoff.html
19        4                /shuttle/countdown/lps/fr.html

                     timewib  duration
0  1995-07-11 19:17:09+07:00       0.0
1  1995-07-11 19:17:48+07:00      39.0
2  1995-07-11 19:23:01+07:00     313.0
3  1995-08-09 14:02:48+07:00       0.0
4  1995-08-09 14:05:38+07:00     170.0
5  1995-08-09 14:07:40+07:00     122.0
6  1995-08-30 13:55:47+07:00       0.0
7  1995-07-07 04:24:28+07:00       0.0
8  1995-07-07 04:28:35+07:00     247.0
9  1995-07-07 04:37:44+07:00     549.0
10 1995-07-07 06:23:26+07:00       0.0
11 1995-07-05 18:36:59+07:00       0.0
12 1995-07-10 19:18:27+07:00       0.0
13 1995-07-10 19:18:57+07:00      30.0
14 1995-07-12 16:33:34+07:00       0.0
15 1995-07-28 04:02:24+07:00       0.0
16 1995-08-28 07:08:50+07:00       0.0
17 1995-08-28 07:12:59+07:00     249.0
18 1995-08-28 07:18:34+07:00     335.0
19 1995-08-28 07:36:38+07:00    1084.0

In [ ]:
# Export hanya kolom yang diperlukan ke file CSV
columns_to_export = ['time', 'user_id', 'url', 'duration']
df_export = df_sorted[columns_to_export]

df_export.to_csv('./data/tets.csv', index=False)

print("‚úÖ Data berhasil diekspor ke file: './data/tets.csv'")
print(f"Total records: {len(df_export)}")
print(f"Kolom yang disimpan: {list(df_export.columns)}")
print(f"\nPreview data yang diekspor:")
print(df_export.head())

‚úÖ Data berhasil diekspor ke file: './data/tets.csv'
Total records: 610984
Kolom yang disimpan: ['timewib', 'user_id', 'url', 'duration']

Preview data yang diekspor:
                    timewib  user_id  \
0 1995-07-11 19:17:09+07:00        1
1 1995-07-11 19:17:48+07:00        1
2 1995-07-11 19:23:01+07:00        1
3 1995-08-09 14:02:48+07:00        1
4 1995-08-09 14:05:38+07:00        1

                                            url  duration
0                                     /ksc.html       0.0
1               /shuttle/missions/missions.html      39.0
2     /shuttle/resources/orbiters/columbia.html     313.0
3  /shuttle/missions/sts-69/mission-sts-69.html       0.0
4               /shuttle/countdown/liftoff.html     170.0

In [10]:
# Implementasi Session Separation berdasarkan kolom duration
def create_session_id(df):
    """
    Membuat session_id berdasarkan user_id dan duration (dalam detik)
    Session baru jika duration > 30 menit (1800 detik)
    """
    df_session = df.copy()
    df_session['session_id'] = ''
    
    # Threshold 30 menit dalam detik
    session_timeout = 30 * 60  # 1800 detik
    
    for user_id in df_session['user_id'].unique():
        user_data_idx = df_session[df_session['user_id'] == user_id].index
        
        session_number = 1
        current_session = f"{user_id}_{session_number}"
        
        for idx in user_data_idx:
            # Ambil nilai duration dari baris saat ini
            duration = df_session.loc[idx, 'duration']
            
            # Jika duration > 30 menit atau duration = 0 (request pertama atau gap besar)
            # maka mulai session baru
            if idx == user_data_idx[0]:
                # Request pertama user selalu session pertama
                df_session.loc[idx, 'session_id'] = current_session
            elif duration == 0 or duration > session_timeout:
                # Duration 0 atau > 30 menit ‚Üí Session baru
                session_number += 1
                current_session = f"{user_id}_{session_number}"
                df_session.loc[idx, 'session_id'] = current_session
            else:
                # Duration dalam batas normal ‚Üí Session yang sama
                df_session.loc[idx, 'session_id'] = current_session
    
    return df_session

# Terapkan fungsi session separation
df_with_sessions = create_session_id(df_sorted)

print("Data dengan Session ID:")
print(df_with_sessions[['user_id', 'session_id', 'time', 'url']].head(20))

# Statistik session
print(f"\n--- Statistik Session ---")
print(f"Total unique sessions: {df_with_sessions['session_id'].nunique()}")
print(f"Total unique users: {df_with_sessions['user_id'].nunique()}")
print(f"Rata-rata session per user: {df_with_sessions['session_id'].nunique() / df_with_sessions['user_id'].nunique():.2f}")

# Contoh user dengan multiple sessions
print(f"\n--- Contoh User dengan Multiple Sessions ---")
session_counts = df_with_sessions.groupby('user_id')['session_id'].nunique().sort_values(ascending=False)
top_users = session_counts.head(5)
print("Top 5 users dengan session terbanyak:")
print(top_users)

if len(top_users) > 0:
    example_user = top_users.index[0]
    print(f"\nDetail aktivitas User {example_user}:")
    user_detail = df_with_sessions[df_with_sessions['user_id'] == example_user][['session_id', 'time', 'url']].sort_values('time')
    print(user_detail)

Data dengan Session ID:
    user_id session_id                      time  \
0         1        1_1 1995-07-11 12:17:09+00:00
1         1        1_1 1995-07-11 12:17:48+00:00
2         1        1_1 1995-07-11 12:23:01+00:00
3         1        1_2 1995-08-09 07:02:48+00:00
4         1        1_2 1995-08-09 07:05:38+00:00
5         1        1_2 1995-08-09 07:07:40+00:00
6         2        2_1 1995-08-30 06:55:47+00:00
7         3        3_1 1995-07-06 21:24:28+00:00
8         3        3_1 1995-07-06 21:28:35+00:00
9         3        3_1 1995-07-06 21:37:44+00:00
10        3        3_2 1995-07-06 23:23:26+00:00
11        4        4_1 1995-07-05 11:36:59+00:00
12        4        4_2 1995-07-10 12:18:27+00:00
13        4        4_2 1995-07-10 12:18:57+00:00
14        4        4_3 1995-07-12 09:33:34+00:00
15        4        4_4 1995-07-27 21:02:24+00:00
16        4        4_5 1995-08-28 00:08:50+00:00
17        4        4_5 1995-08-28 00:12:59+00:00
18        4        4_5 1995-08-28 00:18:34+00:00
19        4        4_5 1995-08-28 00:36:38+00:00

                                             url
0                                      /ksc.html
1                /shuttle/missions/missions.html
2      /shuttle/resources/orbiters/columbia.html
3   /shuttle/missions/sts-69/mission-sts-69.html
4                /shuttle/countdown/liftoff.html
5                 /shuttle/countdown/lps/fr.html
6                     /software/winvn/winvn.html
7   /shuttle/missions/sts-71/mission-sts-71.html
8   /shuttle/missions/sts-71/mission-sts-71.html
9    /shuttle/missions/sts-71/images/images.html
10                  /shuttle/countdown/tour.html
11   /shuttle/missions/sts-71/movies/movies.html
12                         /history/history.html
13               /shuttle/missions/missions.html
14  /shuttle/missions/sts-71/mission-sts-71.html
15                                     /ksc.html
16             /shuttle/countdown/countdown.html
17                 /shuttle/countdown/count.html
18               /shuttle/countdown/liftoff.html
19                /shuttle/countdown/lps/fr.html

--- Statistik Session ---
Total unique sessions: 237296
Total unique users: 113577
Total unique sessions: 237296
Total unique users: 113577
Rata-rata session per user: 2.09

--- Contoh User dengan Multiple Sessions ---
Rata-rata session per user: 2.09

--- Contoh User dengan Multiple Sessions ---
Top 5 users dengan session terbanyak:
user_id
86957     534
86958     485
86955     462
112333    462
112314    459
Name: session_id, dtype: int64

Detail aktivitas User 86957:
       session_id                      time  \
450880    86957_1 1995-07-01 04:24:51+00:00
450881    86957_1 1995-07-01 04:47:37+00:00
450882    86957_1 1995-07-01 05:15:42+00:00
450883    86957_1 1995-07-01 05:41:28+00:00
450884    86957_2 1995-07-01 06:49:15+00:00
...           ...                       ...
454583  86957_533 1995-09-01 02:25:54+00:00
454584  86957_533 1995-09-01 02:36:04+00:00
454585  86957_533 1995-09-01 02:37:49+00:00
454586  86957_534 1995-09-01 03:41:06+00:00
454587  86957_534 1995-09-01 03:43:20+00:00

                                                 url
450880   /shuttle/missions/sts-71/images/images.html
450881   /shuttle/missions/sts-71/movies/movies.html
450882   /shuttle/missions/sts-71/images/images.html
450883  /shuttle/missions/sts-67/mission-sts-67.html
450884   /shuttle/missions/sts-71/images/images.html
...                                              ...
454583   /shuttle/missions/sts-70/movies/movies.html
454584  /shuttle/missions/sts-69/mission-sts-69.html
454585    /shuttle/resources/orbiters/endeavour.html
454586               /shuttle/missions/missions.html
454587  /shuttle/missions/sts-69/mission-sts-69.html

[3708 rows x 3 columns]
Top 5 users dengan session terbanyak:
user_id
86957     534
86958     485
86955     462
112333    462
112314    459
Name: session_id, dtype: int64

Detail aktivitas User 86957:
       session_id                      time  \
450880    86957_1 1995-07-01 04:24:51+00:00
450881    86957_1 1995-07-01 04:47:37+00:00
450882    86957_1 1995-07-01 05:15:42+00:00
450883    86957_1 1995-07-01 05:41:28+00:00
450884    86957_2 1995-07-01 06:49:15+00:00
...           ...                       ...
454583  86957_533 1995-09-01 02:25:54+00:00
454584  86957_533 1995-09-01 02:36:04+00:00
454585  86957_533 1995-09-01 02:37:49+00:00
454586  86957_534 1995-09-01 03:41:06+00:00
454587  86957_534 1995-09-01 03:43:20+00:00

                                                 url
450880   /shuttle/missions/sts-71/images/images.html
450881   /shuttle/missions/sts-71/movies/movies.html
450882   /shuttle/missions/sts-71/images/images.html
450883  /shuttle/missions/sts-67/mission-sts-67.html
450884   /shuttle/missions/sts-71/images/images.html
...                                              ...
454583   /shuttle/missions/sts-70/movies/movies.html
454584  /shuttle/missions/sts-69/mission-sts-69.html
454585    /shuttle/resources/orbiters/endeavour.html
454586               /shuttle/missions/missions.html
454587  /shuttle/missions/sts-69/mission-sts-69.html

[3708 rows x 3 columns]

In [13]:
# Export hanya kolom yang diperlukan ke file CSV
columns_to_export = ['user_id', 'session_id', 'time', 'url','duration']
df_export = df_with_sessions[columns_to_export].copy()

# Hilangkan zona waktu jika ada
if df_export['time'].dt.tz is not None:
    df_export['time'] = df_export['time'].dt.tz_localize(None)

df_export.to_csv('./data/web_usage_with_sessions.csv', index=False)

print("‚úÖ Data berhasil diekspor ke file: './data/web_usage_with_sessions.csv'")
print(f"Total records: {len(df_export)}")
print(f"Kolom yang disimpan: {list(df_export.columns)}")
print(f"\nPreview data yang diekspor:")
print(df_export.head())

‚úÖ Data berhasil diekspor ke file: './data/web_usage_with_sessions.csv'
Total records: 610984
Kolom yang disimpan: ['user_id', 'session_id', 'time', 'url', 'duration']

Preview data yang diekspor:
   user_id session_id                time  \
0        1        1_1 1995-07-11 12:17:09
1        1        1_1 1995-07-11 12:17:48
2        1        1_1 1995-07-11 12:23:01
3        1        1_2 1995-08-09 07:02:48
4        1        1_2 1995-08-09 07:05:38

                                            url  duration
0                                     /ksc.html       0.0
1               /shuttle/missions/missions.html      39.0
2     /shuttle/resources/orbiters/columbia.html     313.0
3  /shuttle/missions/sts-69/mission-sts-69.html       0.0
4               /shuttle/countdown/liftoff.html     170.0

## User-Item Matrix (Session-URL Matrix)

**Konsep yang ingin diimplementasikan:**

### üéØ Tujuan:
Membuat matrix yang menunjukkan pola kunjungan web untuk setiap session user

### üìä Struktur Matrix:
- **Baris**: Setiap session user (contoh: `1_1`, `1_2`, `2_1`, `3_1`, dll)
- **Kolom**: Semua URL unik yang ada di dataset (A, B, C, D, E = URL yang berbeda)
- **Nilai**: Binary (0 atau 1)
  - **1** = Session tersebut mengunjungi URL ini
  - **0** = Session tersebut TIDAK mengunjungi URL ini

### üìù Contoh Interpretasi:
```
             /index.html  /faq.html  /home.html  /about.html
session_1_1      1           0           1           0
session_1_2      0           1           1           0
session_2_1      1           1           0           1
```

**Artinya:**
- **session_1_1**: Mengunjungi `/index.html` dan `/home.html`
- **session_1_2**: Mengunjungi `/faq.html` dan `/home.html`
- **session_2_1**: Mengunjungi `/index.html`, `/faq.html`, dan `/about.html`

### üîç Kegunaan Matrix Ini:
1. **Pattern Mining**: Menemukan pola navigasi yang sering terjadi
2. **Recommendation System**: Merekomendasikan halaman berdasarkan kebiasaan user
3. **Clustering**: Mengelompokkan user dengan behavior serupa
4. **Association Rules**: Menemukan halaman yang sering dikunjungi bersamaan

### ‚öôÔ∏è Cara Pembuatan:
1. Ambil data `df_with_sessions` yang sudah memiliki `session_id` dan `url`
2. Group berdasarkan `session_id` dan `url`
3. Buat pivot table dengan:
   - Index = `session_id`
   - Columns = `url`
   - Values = 1 (menandakan kunjungan)
4. Fill NaN dengan 0 (tidak ada kunjungan)
5. Convert ke integer (0 atau 1)

In [14]:
# Membuat User-Item Matrix (Session-URL Matrix)

# Step 1: Buat dataframe dengan user_id, session_id dan url yang dikunjungi
session_url = df_with_sessions[['user_id', 'session_id', 'url']].copy()

# Step 2: Tandai setiap kunjungan dengan nilai 1
session_url['visited'] = 1

# Step 3: Hapus duplikat (jika dalam 1 session mengunjungi URL yang sama berkali-kali)
session_url = session_url.drop_duplicates(subset=['session_id', 'url'])

# Step 4: Buat pivot table
# Index = session_id, Columns = url, Values = visited (1)
session_url_matrix = session_url.pivot(index='session_id', columns='url', values='visited')

# Step 5: Fill NaN dengan 0 (tidak dikunjungi)
session_url_matrix = session_url_matrix.fillna(0)

# Step 6: Convert ke integer
session_url_matrix = session_url_matrix.astype(int)

# Step 7: Tambahkan kolom user_id di awal
# Ekstrak user_id dari session_id (format: user_id_session_number)
session_url_matrix['user_id'] = session_url_matrix.index.str.split('_').str[0].astype(int)

# Pindahkan kolom user_id ke posisi pertama
cols = ['user_id'] + [col for col in session_url_matrix.columns if col != 'user_id']
session_url_matrix = session_url_matrix[cols]

print("="*80)
print("SESSION-URL MATRIX")
print("="*80)
print(f"Shape: {session_url_matrix.shape}")
print(f"Total Sessions: {session_url_matrix.shape[0]}")
print(f"Total Unique URLs: {session_url_matrix.shape[1] - 1}")  # -1 karena ada kolom user_id
print(f"\nKolom yang ada di matrix:")
print(list(session_url_matrix.columns))
print("\n" + "="*80)
print("Preview Matrix (10 session pertama):")
print("="*80)
print(session_url_matrix.head(10))

# Statistik tambahan
print("\n" + "="*80)
print("STATISTIK MATRIX")
print("="*80)
print(f"Total kunjungan (sum of all 1s): {session_url_matrix.sum().sum()}")
print(f"\nJumlah kunjungan per URL:")
print(session_url_matrix.sum().sort_values(ascending=False))
print(f"\nJumlah URL yang dikunjungi per session (rata-rata): {session_url_matrix.sum(axis=1).mean():.2f}")

================================================================================
SESSION-URL MATRIX
================================================================================
Shape: (237296, 113)
Total Sessions: 237296
Total Unique URLs: 112

Kolom yang ada di matrix:
['user_id', '/facilities/crawler.html', '/facilities/lc39a.html', '/facilities/lcc.html', '/facilities/mlp.html', '/facilities/opf.html', '/facilities/spaceport.html', '/facilities/tour.html', '/facilities/vab.html', '/facts/about_ksc.html', '/facts/facts.html', '/facts/faq04.html', '/facts/faq12.html', '/history/apollo/apollo-1/apollo-1-info.html', '/history/apollo/apollo-1/apollo-1.html', '/history/apollo/apollo-10/apollo-10.html', '/history/apollo/apollo-11/apollo-11-info.html', '/history/apollo/apollo-11/apollo-11.html', '/history/apollo/apollo-12/apollo-12.html', '/history/apollo/apollo-13/apollo-13-info.html', '/history/apollo/apollo-13/apollo-13.html', '/history/apollo/apollo-14/apollo-14.html', '/history/apollo/apollo-15/apollo-15.html', '/history/apollo/apollo-17/apollo-17.html', '/history/apollo/apollo-4/apollo-4.html', '/history/apollo/apollo-5/apollo-5.html', '/history/apollo/apollo-7/apollo-7.html', '/history/apollo/apollo-8/apollo-8.html', '/history/apollo/apollo-9/apollo-9.html', '/history/apollo/apollo-sa.html', '/history/apollo/apollo.html', '/history/astp/astp.html', '/history/gemini/gemini.html', '/history/history.html', '/history/mercury/mercury.html', '/history/mercury/mr-3/mr-3.html', '/history/skylab/skylab.html', '/ksc.html', '/mdss/MDSS.html', '/persons/nasa-cm/jmd.html', '/procurement/procurement.html', '/shuttle/countdown/count.html', '/shuttle/countdown/countdown.html', '/shuttle/countdown/liftoff.html', '/shuttle/countdown/lps/fr.html', '/shuttle/countdown/tour.html', '/shuttle/missions/100th.html', '/shuttle/missions/51-l/51-l-info.html', '/shuttle/missions/51-l/mission-51-l.html', '/shuttle/missions/61-b/mission-61-b.html', '/shuttle/missions/61-c/mission-61-c.html', '/shuttle/missions/missions.html', '/shuttle/missions/rollbacks.html', '/shuttle/missions/sts-1/mission-sts-1.html', '/shuttle/missions/sts-26/mission-sts-26.html', '/shuttle/missions/sts-49/mission-sts-49.html', '/shuttle/missions/sts-59/mission-sts-59.html', '/shuttle/missions/sts-62/mission-sts-62.html', '/shuttle/missions/sts-63/mission-sts-63.html', '/shuttle/missions/sts-64/mission-sts-64.html', '/shuttle/missions/sts-65/mission-sts-65.html', '/shuttle/missions/sts-66/mission-sts-66.html', '/shuttle/missions/sts-67/images/images.html', '/shuttle/missions/sts-67/mission-sts-67.html', '/shuttle/missions/sts-68/ksc-srl-image.html', '/shuttle/missions/sts-68/mission-sts-68.html', '/shuttle/missions/sts-69/images/images.html', '/shuttle/missions/sts-69/liftoff.html', '/shuttle/missions/sts-69/mission-sts-69.html', '/shuttle/missions/sts-69/movies/movies.html', '/shuttle/missions/sts-69/sts-69-info.html', '/shuttle/missions/sts-70/images/images.html', '/shuttle/missions/sts-70/mission-sts-70.html', '/shuttle/missions/sts-70/movies/movies.html', '/shuttle/missions/sts-70/woodpecker.html', '/shuttle/missions/sts-71/images/images.html', '/shuttle/missions/sts-71/mission-sts-71.html', '/shuttle/missions/sts-71/movies/movies.html', '/shuttle/missions/sts-71/sts-71-info.html', '/shuttle/missions/sts-72/mission-sts-72.html', '/shuttle/missions/sts-73/mission-sts-73.html', '/shuttle/missions/sts-74/mission-sts-74.html', '/shuttle/missions/sts-75/mission-sts-75.html', '/shuttle/missions/sts-76/mission-sts-76.html', '/shuttle/missions/sts-77/mission-sts-77.html', '/shuttle/missions/sts-78/mission-sts-78.html', '/shuttle/resources/orbiters/atlantis.html', '/shuttle/resources/orbiters/challenger.html', '/shuttle/resources/orbiters/columbia.html', '/shuttle/resources/orbiters/discovery.html', '/shuttle/resources/orbiters/endeavour.html', '/shuttle/resources/orbiters/enterprise.html', '/shuttle/resources/orbiters/orbiters.html', '/shuttle/technology/sts-newsref/et.html', '/shuttle/technology/sts-newsref/mission_profile.html', '/shuttle/technology/sts-newsref/spacelab.html', '/shuttle/technology/sts-newsref/srb.html', '/shuttle/technology/sts-newsref/sts-av.html', '/shuttle/technology/sts-newsref/sts-cron.html', '/shuttle/technology/sts-newsref/sts-jsc-comm.html', '/shuttle/technology/sts-newsref/sts-lcc.html', '/shuttle/technology/sts-newsref/sts-mps.html', '/shuttle/technology/sts-newsref/sts_asm.html', '/shuttle/technology/sts-newsref/sts_coord.html', '/shuttle/technology/sts-newsref/sts_egress.html', '/shuttle/technology/sts-newsref/sts_mes.html', '/shuttle/technology/sts-newsref/sts_overview.html', '/shuttle/technology/sts-newsref/stsover-launch.html', '/shuttle/technology/sts-newsref/stsref-toc.html', '/software/winvn/faq/WINVNFAQ-Contents.html', '/software/winvn/userguide/wvnguide.html', '/software/winvn/winvn.html', '/whats-new.html']

================================================================================
Preview Matrix (10 session pertama):
================================================================================
url         user_id  /facilities/crawler.html  /facilities/lc39a.html  \
session_id
100000_1     100000                         0                       0
100001_1     100001                         0                       0
100002_1     100002                         0                       0
100003_1     100003                         0                       0
100004_1     100004                         0                       1
100005_1     100005                         0                       0
100006_1     100006                         0                       0
100007_1     100007                         0                       0
100007_2     100007                         0                       0
100008_1     100008                         0                       0

url         /facilities/lcc.html  /facilities/mlp.html  /facilities/opf.html  \
session_id
100000_1                       0                     0                     0
100001_1                       0                     0                     0
100002_1                       0                     0                     0
100003_1                       0                     0                     0
100004_1                       0                     0                     0
100005_1                       0                     0                     0
100006_1                       0                     0                     0
100007_1                       0                     0                     0
100007_2                       0                     0                     0
100008_1                       0                     0                     0

url         /facilities/spaceport.html  /facilities/tour.html  \
session_id
100000_1                             0                      0
100001_1                             0                      0
100002_1                             0                      0
100003_1                             0                      0
100004_1                             0                      0
100005_1                             0                      0
100006_1                             0                      0
100007_1                             0                      0
100007_2                             0                      0
100008_1                             0                      0

url         /facilities/vab.html  /facts/about_ksc.html  ...  \
session_id                                               ...
100000_1                       0                      0  ...
100001_1                       0                      0  ...
100002_1                       0                      0  ...
100003_1                       0                      0  ...
100004_1                       0                      0  ...
100005_1                       0                      0  ...
100006_1                       0                      0  ...
100007_1                       0                      0  ...
100007_2                       0                      0  ...
100008_1                       0                      0  ...

url         /shuttle/technology/sts-newsref/sts_coord.html  \
session_id
100000_1                                                 0
100001_1                                                 0
100002_1                                                 0
100003_1                                                 0
100004_1                                                 0
100005_1                                                 0
100006_1                                                 0
100007_1                                                 0
100007_2                                                 0
100008_1                                                 0

url         /shuttle/technology/sts-newsref/sts_egress.html  \
session_id
100000_1                                                  0
100001_1                                                  0
100002_1                                                  0
100003_1                                                  0
100004_1                                                  0
100005_1                                                  0
100006_1                                                  0
100007_1                                                  0
100007_2                                                  0
100008_1                                                  0

url         /shuttle/technology/sts-newsref/sts_mes.html  \
session_id
100000_1                                               0
100001_1                                               0
100002_1                                               0
100003_1                                               0
100004_1                                               0
100005_1                                               0
100006_1                                               0
100007_1                                               0
100007_2                                               0
100008_1                                               0

url         /shuttle/technology/sts-newsref/sts_overview.html  \
session_id
100000_1                                                    0
100001_1                                                    0
100002_1                                                    0
100003_1                                                    0
100004_1                                                    0
100005_1                                                    0
100006_1                                                    0
100007_1                                                    0
100007_2                                                    0
100008_1                                                    0

url         /shuttle/technology/sts-newsref/stsover-launch.html  \
session_id
100000_1                                                    0
100001_1                                                    0
100002_1                                                    0
100003_1                                                    0
100004_1                                                    0
100005_1                                                    0
100006_1                                                    0
100007_1                                                    0
100007_2                                                    0
100008_1                                                    0

url         /shuttle/technology/sts-newsref/stsref-toc.html  \
session_id
100000_1                                                  0
100001_1                                                  0
100002_1                                                  0
100003_1                                                  0
100004_1                                                  0
100005_1                                                  0
100006_1                                                  0
100007_1                                                  0
100007_2                                                  0
100008_1                                                  0

url         /software/winvn/faq/WINVNFAQ-Contents.html  \
session_id
100000_1                                             0
100001_1                                             0
100002_1                                             0
100003_1                                             0
100004_1                                             0
100005_1                                             0
100006_1                                             0
100007_1                                             0
100007_2                                             0
100008_1                                             0

url         /software/winvn/userguide/wvnguide.html  \
session_id
100000_1                                          0
100001_1                                          0
100002_1                                          0
100003_1                                          0
100004_1                                          0
100005_1                                          0
100006_1                                          0
100007_1                                          0
100007_2                                          0
100008_1                                          0

url         /software/winvn/winvn.html  /whats-new.html
session_id
100000_1                             0                0
100001_1                             0                0
100002_1                             0                0
100003_1                             0                0
100004_1                             0                0
100005_1                             0                0
100006_1                             1                0
100007_1                             0                0
100007_2                             0                0
100008_1                             1                0

[10 rows x 113 columns]

================================================================================
STATISTIK MATRIX
================================================================================
Total kunjungan (sum of all 1s): 14119916181

Jumlah kunjungan per URL:
url
user_id                                                14119363749
/ksc.html                                                    63381
/shuttle/missions/missions.html                              39755
/shuttle/missions/sts-69/mission-sts-69.html                 27501
/shuttle/countdown/liftoff.html                              21828
                                                          ...
/shuttle/technology/sts-newsref/sts_egress.html                965
/facts/faq12.html                                              963
/shuttle/technology/sts-newsref/sts-av.html                    954
/shuttle/technology/sts-newsref/stsover-launch.html            891
/facilities/spaceport.html                                     838
Length: 113, dtype: int64

Jumlah URL yang dikunjungi per session (rata-rata): 59503.39

Jumlah URL yang dikunjungi per session (rata-rata): 59503.39

In [15]:
# Export Session-URL Matrix ke CSV
session_url_matrix.to_csv('./data/session_url_matrix.csv', index=True)

print("‚úÖ Session-URL Matrix berhasil diekspor ke file: './data/session_url_matrix.csv'")
print(f"Matrix dengan {session_url_matrix.shape[0]} sessions x {session_url_matrix.shape[1]} URLs")
print("\nPreview matrix yang diekspor:")
print(session_url_matrix.head(10))

‚úÖ Session-URL Matrix berhasil diekspor ke file: './data/session_url_matrix.csv'
Matrix dengan 237296 sessions x 113 URLs

Preview matrix yang diekspor:
url         user_id  /facilities/crawler.html  /facilities/lc39a.html  \
session_id
100000_1     100000                         0                       0
100001_1     100001                         0                       0
100002_1     100002                         0                       0
100003_1     100003                         0                       0
100004_1     100004                         0                       1
100005_1     100005                         0                       0
100006_1     100006                         0                       0
100007_1     100007                         0                       0
100007_2     100007                         0                       0
100008_1     100008                         0                       0

url         /facilities/lcc.html  /facilities/mlp.html  /facilities/opf.html  \
session_id
100000_1                       0                     0                     0
100001_1                       0                     0                     0
100002_1                       0                     0                     0
100003_1                       0                     0                     0
100004_1                       0                     0                     0
100005_1                       0                     0                     0
100006_1                       0                     0                     0
100007_1                       0                     0                     0
100007_2                       0                     0                     0
100008_1                       0                     0                     0

url         /facilities/spaceport.html  /facilities/tour.html  \
session_id
100000_1                             0                      0
100001_1                             0                      0
100002_1                             0                      0
100003_1                             0                      0
100004_1                             0                      0
100005_1                             0                      0
100006_1                             0                      0
100007_1                             0                      0
100007_2                             0                      0
100008_1                             0                      0

url         /facilities/vab.html  /facts/about_ksc.html  ...  \
session_id                                               ...
100000_1                       0                      0  ...
100001_1                       0                      0  ...
100002_1                       0                      0  ...
100003_1                       0                      0  ...
100004_1                       0                      0  ...
100005_1                       0                      0  ...
100006_1                       0                      0  ...
100007_1                       0                      0  ...
100007_2                       0                      0  ...
100008_1                       0                      0  ...

url         /shuttle/technology/sts-newsref/sts_coord.html  \
session_id
100000_1                                                 0
100001_1                                                 0
100002_1                                                 0
100003_1                                                 0
100004_1                                                 0
100005_1                                                 0
100006_1                                                 0
100007_1                                                 0
100007_2                                                 0
100008_1                                                 0

url         /shuttle/technology/sts-newsref/sts_egress.html  \
session_id
100000_1                                                  0
100001_1                                                  0
100002_1                                                  0
100003_1                                                  0
100004_1                                                  0
100005_1                                                  0
100006_1                                                  0
100007_1                                                  0
100007_2                                                  0
100008_1                                                  0

url         /shuttle/technology/sts-newsref/sts_mes.html  \
session_id
100000_1                                               0
100001_1                                               0
100002_1                                               0
100003_1                                               0
100004_1                                               0
100005_1                                               0
100006_1                                               0
100007_1                                               0
100007_2                                               0
100008_1                                               0

url         /shuttle/technology/sts-newsref/sts_overview.html  \
session_id
100000_1                                                    0
100001_1                                                    0
100002_1                                                    0
100003_1                                                    0
100004_1                                                    0
100005_1                                                    0
100006_1                                                    0
100007_1                                                    0
100007_2                                                    0
100008_1                                                    0

url         /shuttle/technology/sts-newsref/stsover-launch.html  \
session_id
100000_1                                                    0
100001_1                                                    0
100002_1                                                    0
100003_1                                                    0
100004_1                                                    0
100005_1                                                    0
100006_1                                                    0
100007_1                                                    0
100007_2                                                    0
100008_1                                                    0

url         /shuttle/technology/sts-newsref/stsref-toc.html  \
session_id
100000_1                                                  0
100001_1                                                  0
100002_1                                                  0
100003_1                                                  0
100004_1                                                  0
100005_1                                                  0
100006_1                                                  0
100007_1                                                  0
100007_2                                                  0
100008_1                                                  0

url         /software/winvn/faq/WINVNFAQ-Contents.html  \
session_id
100000_1                                             0
100001_1                                             0
100002_1                                             0
100003_1                                             0
100004_1                                             0
100005_1                                             0
100006_1                                             0
100007_1                                             0
100007_2                                             0
100008_1                                             0

url         /software/winvn/userguide/wvnguide.html  \
session_id
100000_1                                          0
100001_1                                          0
100002_1                                          0
100003_1                                          0
100004_1                                          0
100005_1                                          0
100006_1                                          0
100007_1                                          0
100007_2                                          0
100008_1                                          0

url         /software/winvn/winvn.html  /whats-new.html
session_id
100000_1                             0                0
100001_1                             0                0
100002_1                             0                0
100003_1                             0                0
100004_1                             0                0
100005_1                             0                0
100006_1                             1                0
100007_1                             0                0
100007_2                             0                0
100008_1                             1                0

[10 rows x 113 columns]