# Tugas 4 TF-IDF dan SVM

In [8]:
import pandas as pd

In [9]:
from sklearn.feature_extraction.text import TfidfVectorizer

In [10]:
df = pd.read_csv("datasets/df_berita_preprocessing.csv")
df

,Isi Berita,lwr_indo,clean_sw_indo,clean_stb_indo,clean_typo_indo,stemming_indo,tokenize_indo
0,KOMPAS.com - Menteri Pemuda dan Olahraga Erick...,kompas.com - menteri pemuda dan olahraga erick...,kompas.com - menteri pemuda olahraga erick tho...,kompas com menteri pemuda olahraga erick tho...,kompas com menteri pemuda olahraga erick thohi...,kompas com menteri pemuda olahraga erick thohi...,"['kompas', 'com', 'menteri', 'pemuda', 'olahra..."
1,"KOMPAS.com - Manajer Chelsea, Enzo Maresca men...","kompas.com - manajer chelsea, enzo maresca men...","kompas.com - manajer chelsea, enzo maresca men...",kompas com manajer chelsea enzo maresca meng...,kompas com manajer chelsea enzo maresca mengan...,kompas com manajer chelsea enzo maresca anggap...,"['kompas', 'com', 'manajer', 'chelsea', 'enzo'..."
2,"KOMPAS.com - Pelatih Liverpool, Arne Slot, men...","kompas.com - pelatih liverpool, arne slot, men...","kompas.com - pelatih liverpool, arne slot, men...",kompas com pelatih liverpool arne slot menga...,kompas com pelatih liverpool arne slot mengaku...,kompas com latih liverpool arne slot aku cryst...,"['kompas', 'com', 'latih', 'liverpool', 'arne'..."
3,KOMPAS.com - Hasil terbaru pekan kelima Liga I...,kompas.com - hasil terbaru pekan kelima liga i...,kompas.com - hasil terbaru pekan liga italia 2...,kompas com hasil terbaru pekan liga italia ...,kompas com hasil terbaru pekan liga italia per...,kompas com hasil baru pekan liga italia beda n...,"['kompas', 'com', 'hasil', 'baru', 'pekan', 'l..."
4,KOMPAS.com - Menteri Pemuda dan Olahraga Repub...,kompas.com - menteri pemuda dan olahraga repub...,kompas.com - menteri pemuda olahraga republik ...,kompas com menteri pemuda olahraga republik ...,kompas com menteri pemuda olahraga republik in...,kompas com menteri pemuda olahraga republik in...,"['kompas', 'com', 'menteri', 'pemuda', 'olahra..."
...,...,...,...,...,...,...,...
1195,"KARANGANYAR, KOMPAS.com - Dapur Satuan Pelayan...","karanganyar, kompas.com - dapur satuan pelayan...","karanganyar, kompas.com - dapur satuan pelayan...",karanganyar kompas com dapur satuan pelayana...,karanganyar kompas com dapur satuan pelayanan ...,karanganyar kompas com dapur satu layan penuh ...,"['karanganyar', 'kompas', 'com', 'dapur', 'sat..."
1196,"BANDUNG, KOMPAS.com -Kepala Stasiun Geofisika ...","bandung, kompas.com -kepala stasiun geofisika ...","bandung, kompas.com -kepala stasiun geofisika ...",bandung kompas com kepala stasiun geofisika b...,bandung kompas com kepala stasiun geofisika bm...,bandung kompas com kepala stasiun geofisika bm...,"['bandung', 'kompas', 'com', 'kepala', 'stasiu..."
1197,"TEGAL, KOMPAS.com – Maraknya kasus keracunan m...","tegal, kompas.com – maraknya kasus keracunan m...","tegal, kompas.com – maraknya keracunan makanan...",tegal kompas com maraknya keracunan makanan ...,tegal kompas com maraknya keracunan makanan pr...,tegal kompas com marak racun makan program mak...,"['tegal', 'kompas', 'com', 'marak', 'racun', '..."
1198,"SOLO, KOMPAS.com - Pemerintah Kota (Pemkot) So...","solo, kompas.com - pemerintah kota (pemkot) so...","solo, kompas.com - pemerintah kota (pemkot) so...",solo kompas com pemerintah kota pemkot solo ...,solo kompas com pemerintah kota pemkot solo ja...,solo kompas com perintah kota pemkot solo jawa...,"['solo', 'kompas', 'com', 'perintah', 'kota', ..."
1199,"SURABAYA, KOMPAS.com - Pemilik perusahaan onde...","surabaya, kompas.com - pemilik perusahaan onde...","surabaya, kompas.com - pemilik perusahaan onde...",surabaya kompas com pemilik perusahaan onder...,surabaya kompas com pemilik perusahaan onderdi...,surabaya kompas com milik usaha onderdil ud se...,"['surabaya', 'kompas', 'com', 'milik', 'usaha'..."

In [11]:
vectorizer = TfidfVectorizer()
X = vectorizer.fit_transform(df["tokenize_indo"])
feature_names = vectorizer.get_feature_names_out()
feature_names

array(['aa', 'aabila', 'aafp', ..., 'zumar', 'zurich', 'zwolle'],
      dtype=object)

In [12]:
print(X.shape)

(1200, 17877)

In [13]:
# Konversi matriks sparse X ke DataFrame
df_tfidf = pd.DataFrame(X.toarray(), columns=feature_names)

# Tampilkan DataFrame (opsional)
df_tfidf

,aa,aabila,aafp,aag,aal,aamiin,aan,aaron,aba,abab,...,zuhri,zulfiahmi,zulfikar,zulhas,zulkarnain,zulkifli,zuly,zumar,zurich,zwolle
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1195,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1196,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1197,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1198,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1199,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [14]:
# Baca file data_berita.csv, hanya ambil kolom 'kategori berita'
df_berita = pd.read_csv("datasets/df_berita_200.csv", usecols=['Kategori Berita'])

# Gabungkan kedua DataFrame secara horizontal
df_gabungan = pd.concat([df_tfidf, df_berita], axis=1)

df_gabungan

,aa,aabila,aafp,aag,aal,aamiin,aan,aaron,aba,abab,...,zulfiahmi,zulfikar,zulhas,zulkarnain,zulkifli,zuly,zumar,zurich,zwolle,Kategori Berita
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,BOLA
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,BOLA
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,BOLA
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,BOLA
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,BOLA
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1195,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,REGIONAL
1196,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,REGIONAL
1197,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,REGIONAL
1198,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,REGIONAL
1199,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,REGIONAL

In [15]:
df_gabungan['Kategori Berita'].value_counts()

Kategori Berita
BOLA        200
MONEY       200
NEWS        200
OTOMOTIF    200
PROV        200
REGIONAL    200
Name: count, dtype: int64

In [16]:
# Simpan DataFrame ke file CSV
df_gabungan.to_csv('datasets/tfidf_matrix.csv', index=False)

In [17]:
import pandas as pd
from sklearn.model_selection import train_test_split

# Misal: df adalah DataFrame Anda (sudah dibersihkan)
# Misal: X_tfidf adalah matriks sparse/array hasil dari vectorizer.fit_transform()

# 1. Menentukan Variabel Y (Label Kategori)
# Ambil kolom terakhir dari DataFrame sebagai label 'y'
# Diasumsikan kolom terakhir (indeks -1) adalah label Anda
y = df_gabungan.iloc[:, -1]

# 2. Menentukan Variabel X (Fitur TF-IDF)
# Variabel X langsung menggunakan matriks yang sudah di-TF-IDF-kan
X = df_gabungan.iloc[:, :-1]

# 3. Lakukan Pembagian Data (Split)
X_train, X_test, y_train, y_test = train_test_split(
    X,           # Matriks TF-IDF (sudah siap)
    y,           # Label Kategori
    test_size=0.2,
    random_state=42,
    stratify=y   # Memastikan proporsi kategori yang seimbang
)

print("Pembagian data selesai:")
print(f"Ukuran X_train: {X_train.shape}")
print(f"Ukuran X_test: {X_test.shape}")

Pembagian data selesai:
Ukuran X_train: (960, 17877)
Ukuran X_test: (240, 17877)

In [19]:
from sklearn.svm import LinearSVC

# 1. Inisialisasi Model SVM
# C=1.0 adalah parameter regularisasi standar. Anda bisa menyempurnakannya nanti.
svm_model = LinearSVC(random_state=42)

# 2. Latih Model
# Gunakan data pelatihan (X_train dan y_train)
print("Memulai pelatihan model SVM...")
svm_model.fit(X_train, y_train)
print("Pelatihan selesai.")

Memulai pelatihan model SVM...
Pelatihan selesai.

In [20]:
# Membuat prediksi pada data pengujian (X_test)
y_pred = svm_model.predict(X_test)

In [21]:
from sklearn.metrics import accuracy_score, classification_report

# 1. Hitung Akurasi Keseluruhan
accuracy = accuracy_score(y_test, y_pred)
print(f"\n--- Hasil Evaluasi ---")
print(f"Akurasi Model: {accuracy*100:.2f}%")

# 2. Tampilkan Laporan Klasifikasi (detail per kategori)
# Classification Report memberikan metrik penting untuk setiap kategori Anda
print("\nLaporan Klasifikasi (Per Kategori):")
print(classification_report(y_test, y_pred))

--- Hasil Evaluasi ---
Akurasi Model: 82.50%

Laporan Klasifikasi (Per Kategori):
              precision    recall  f1-score   support

        BOLA       0.90      0.90      0.90        40
       MONEY       0.84      0.90      0.87        40
        NEWS       0.76      0.85      0.80        40
    OTOMOTIF       0.88      0.95      0.92        40
        PROV       0.77      0.50      0.61        40
    REGIONAL       0.79      0.85      0.82        40

    accuracy                           0.82       240
   macro avg       0.82      0.82      0.82       240
weighted avg       0.82      0.82      0.82       240